*{
  margin:0%;
  padding:0%;
  box-sizing:border-box;
}

html,
body,#root{height:100%;
  width:100%;
}

main{
  height:100%;
  width:100%;
  padding: 1.5rem;
  display:flex;
  gap:1 rem;
}

main .left,
main .right{
  height:100%;
  flex-basis: 50%;
  border-radius:0.7 rem;   
}

main .left{
  background-color:black;
  position:relative;

}

main .left .review{
  position:absolute;
  bottom:1 rem;
  right:1 rem;
  background-color: rgb(171, 171, 245);
  color:black;
  padding:0.5rem;
  border-radius:0.7 rem;
}

main .right{
  background-color:rgb(229, 212, 212)
}
